/* src/assets/styles/global.css */

/* Variáveis de cores */
:root {
  --color-primary: #561c24;
  --color-secondary: #6d2932;
  --color-three: #e8d8c4;
  --color-four: #ffffff;
  --color-text: #561c24;
  --color-white: #d6d6d6;
  --color-muted: #888;
  --color-body: #e9e3dc;
  --color-bg: #fff;
}

/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-body);
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-text);
  padding: 0;
  overflow-x: hidden;
  opacity: 0.9;
  height: 100%;
  width: 100%;
}



h1,
h2 {
  color: var(--color-text);

}

p {
  font-weight: bold;
}

a {
  color: var(--color-bg);
  text-decoration: none;
}

input,
textarea {
  border: none;
  border-bottom: 2px solid var(--color-primary);
  background: transparent;
  padding: 8px 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--color-four);
  outline: none;
}

input::placeholder,
select,
textarea::placeholder {
  opacity: 1;
  color: var(--color-primary);
  font-size: 0.9rem;
  font-style: italic;
  letter-spacing: 0.5px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-text);
  padding-bottom: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: var(--color-text);
  margin: 0;
}

header h1 {
  padding: 0.5rem;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Tela opaca */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: var(--color-primary);
}

.modal-content {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  position: relative;
}

/* Container do formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-button {
  display: block;
  margin: 10px auto 0;
  /* Centraliza horizontalmente e dá espaço acima */
  padding: 4px 8px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 45%;
}

button:hover {
  background: linear-gradient(135deg, #561c24, #e8d8c4);

}




.delete-button:hover {
  background-color: var(--color-secondary);
}

.button-createTask {
  display: block;
  margin: 5px auto 0;
  /* Centraliza horizontalmente e dá espaço acima */
  padding: 4px 8px;
  background-color: var(--color-secondary);
  color: var(--color-text);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 20%;
  color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.button-updateTask {
  display: block;
  margin: 10px auto 0;
  /* Centraliza horizontalmente e dá espaço acima */
  padding: 4px 8px;
  background-color: var(--color-secondary);
  color: var(--color-text);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 20%;
  color: var(--color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.task-item {
  border-bottom: 0px solid rgba(255, 255, 255, 0.15);
  background-color: var(--color-bg);
  border-radius: 8px;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-row {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: var(--color-text);
}

.task-title {
  margin-bottom: 0.5rem;
}

.task-details-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1rem;
  white-space: nowrap;
}

.task-details-scroll p {
  margin: 0;
  flex-shrink: 0;
  min-width: max-content;
}

.task-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem auto; 
  background-color: var(--color-four);
  border-radius: 8px;
  color: var(--color-text);
  opacity: 0.9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  width: 95%;
}

.task-item strong {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.task-details {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1rem;
  white-space: nowrap;
  align-items: center;
}


.task-details p {
  margin: 0;
  flex-shrink: 0;
  min-width: max-content;
  width: 25px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.checkbox-container {
  width: 100%;

}
.status-div {
  width: 90px; /* Tamanho fixo da div que envolve o botão */
  height: 35px; /* Tamanho fixo da div (opcional, dependendo da altura do botão) */
  display: flex; /* Usando flex para alinhar o conteúdo */
  justify-content: center; /* Centraliza o botão horizontalmente */
  align-items: center; /* Centraliza o botão verticalmente */
}

.status-button {
  padding: 0.35rem 0.75rem; /* Padding interno */
  border-radius: 0.55rem;   /* Borda arredondada */
  color: var(--color-primary); /* Cor do texto */
  font-size: 0.875rem;      /* Tamanho do texto */
  font-weight: 900;         /* Peso da fonte */
  transition: background-color 0.2s; /* Transição para mudança de cor */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); /* Sombra para o botão */
  
  width: 100%; /* O botão vai ocupar toda a largura da div, mas podemos ajustar para um tamanho fixo */
  max-width: 120px; /* Tamanho máximo para o botão */
  height: 30px; /* Definindo uma altura fixa */
  text-align: center; /* Alinha o texto no centro */
 
}

.status-button.done {
  background-color: var(--color-primary); /* Cor do fundo para status "Feita" */
  color: var(--color-white); /* Cor do texto para status "Feita" */
}

.status-button.pending {
  background-color: var(--color-bg); /* Cor do fundo para status "Pendente" */
  border: 1px solid var(--color-primary); /* Borda do botão */
}
