/* src/assets/styles/global.css */

/* Variáveis de cores */
:root {
  --color-primary: #561c24;
  --color-secondary: #6d2932;
  --color-three: #e8d8c4;
  --color-four: #ffffff;
  --color-text: #561c24;
  --color-white: #d6d6d6;
  --color-muted: #888;
  --color-body: #e9e3dc;
  --color-bg: #fff;
}

/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-body);
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-text);
  padding: 0;
  overflow-x: hidden;
  opacity: 0.9;
  height: 100%;
  width: 100%;
}



h1,
h2 {
  color: var(--color-text);

}

p {
  font-weight: bold;
}

a {
  color: var(--color-bg);
  text-decoration: none;
}

input,
textarea {
  border: none;
  border-bottom: 2px solid var(--color-primary);
  background: transparent;
  padding: 8px 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--color-four);
  outline: none;
}

input::placeholder,
select,
textarea::placeholder {
  opacity: 1;
  color: var(--color-primary);
  font-size: 0.9rem;
  font-style: italic;
  letter-spacing: 0.5px;
  font-weight: 500;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text);
  margin: 1%;
}

header h1 {
  padding: 0.5rem;
  margin: 2px 6px auto;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Tela opaca */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: var(--color-primary);
}

.modal-content {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  position: fixed;
}

/* Container do formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-overlay-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 2%;
}

.modal-overlay-input select {
  width: 50%;
}



.modal-button {
  display: block;
  margin: 10px auto 0;
  /* Centraliza horizontalmente e dá espaço acima */
  padding: 4px 8px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 45%;
}

button:hover {
  background: linear-gradient(135deg, #561c24, #e8d8c4);

}

.delete-button:hover {
  background-color: var(--color-secondary);
}

.button-createTask {
  display: block;
  margin: 5px auto 0;
  /* Centraliza horizontalmente e dá espaço acima */
  padding: 4px 8px;
  background-color: var(--color-secondary);
  color: var(--color-text);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 20%;
  color: var(--color-white);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.6);
}

.button-updateTask {
  display: block;
  margin: 10px auto 0;
  /* Centraliza horizontalmente e dá espaço acima */
  padding: 4px 8px;
  background-color: var(--color-secondary);
  color: var(--color-text);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 20%;
  color: var(--color-white);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.6);
}

.task-item {
  border-bottom: 0px solid rgb(236, 10, 10);
  background-color: var(--color-bg);
  border-radius: 8px;
}


ul {
  list-style: none;
  padding: 0;
  width: 95%;
  height: 100%;
  justify-content: center;
  padding: 1%;
  margin: 40px auto;
  border-radius: 20px;

}

.task-row {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: var(--color-text);
}

.task-title {
  margin-bottom: 0.5rem;
}

.task-details-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1rem;
  white-space: nowrap;
}

.task-details-scroll p {
  margin: 0;
  flex-shrink: 0;
  min-width: max-content;
}

.task-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem auto;
  background-color: var(--color-four);
  border-radius: 8px;
  color: var(--color-text);
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.6);
  width: 95%;
}

.task-item strong {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.task-details {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1rem;
  white-space: nowrap;
  align-items: center;
}


.task-details p {
  margin: 0;
  flex-shrink: 0;
  min-width: max-content;
  width: 25px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 2px 7px 6px rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.checkbox-container {
  width: 100%;

}

.status-div {
  width: 90px;
  /* Tamanho fixo da div que envolve o botão */
  height: 35px;
  /* Tamanho fixo da div (opcional, dependendo da altura do botão) */
  display: flex;
  /* Usando flex para alinhar o conteúdo */
  justify-content: center;
  /* Centraliza o botão horizontalmente */
  align-items: center;
  /* Centraliza o botão verticalmente */
}

.status-button {
  padding: 0.35rem 0.75rem;
  /* Padding interno */
  border-radius: 0.55rem;
  /* Borda arredondada */
  color: var(--color-primary);
  /* Cor do texto */
  font-size: 0.875rem;
  /* Tamanho do texto */
  font-weight: 900;
  /* Peso da fonte */
  transition: background-color 0.2s;
  /* Transição para mudança de cor */
  cursor: pointer;
  box-shadow: 0.1px 6px 5px rgba(0, 0, 0, 0.6);
  /* Sombra para o botão */

  width: 100%;
  /* O botão vai ocupar toda a largura da div, mas podemos ajustar para um tamanho fixo */
  max-width: 120px;
  /* Tamanho máximo para o botão */
  height: 30px;
  /* Definindo uma altura fixa */
  text-align: center;
  /* Alinha o texto no centro */

}

.status-button.done {
  background-color: var(--color-primary);
  /* Cor do fundo para status "Feita" */
  color: var(--color-white);
  /* Cor do texto para status "Feita" */
}

.status-button.pending {
  background-color: var(--color-bg);
  /* Cor do fundo para status "Pendente" */
  border: 1px solid var(--color-primary);
  /* Borda do botão */
}

.searchbar {
  padding: 7px;
  border-radius: 13px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  background-color: var(--color-bg);
  opacity: 0.88;
  width: 95%;
  margin: 10px auto;
}

.searchbar button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 950;
  color: var(--color-text);
}

.searchbar input {
  border-radius: 15px;
  border: none;
}

.tasks {
  display: flex;
  flex-direction: column;
  /* Garante layout vertical geral */
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  gap: 0.1px;
  /* Espaço entre os elementos filhos */
  margin: 2px;
}

.filter-div {
  display: flex;
  justify-content: center;
  margin: 1px auto;
}

.filter-div button {
  border-radius: 6px;
  padding: 3px;
}

.filters-container {
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}


.save-filter-button {
  width: 100%;
  justify-content: center;
  padding: 10px;
  color: var(--color-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.filters-section {
  font-weight: 900;
}

.filter-container {
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  color: var(--color-text);
  /* box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.2); */
  opacity: 0.9;
  /* background: linear-gradient(var(--color-body), var(--color-body)) padding-box,
              linear-gradient(135deg, #561c24, #e8d8c4); */
  border: 4px solid transparent;
  margin-bottom: 12px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-top: 10px;
}

.filter-pill {
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
  border-radius: 20px;
  padding: 4px 8px;
  border: 1px solid var(--color-primary);
  gap: 4px;
}

.filter-pill button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.filter-pill:hover {
  background: linear-gradient(135deg, var(--color-secondary), var(--color-four));
  opacity: 5;

}

.modal-eval-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 20px;
  min-height: 100vh
}

.modal-eval-content {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;

}

.modal-eval-content h2 {
  margin-bottom: 20px;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.modal-eval-task {
  display: flex;
  flex-direction: column;
  /* Tarefa em coluna */
  align-items: center;
  /* Centraliza horizontalmente */
  margin-bottom: 20px;
  /* Espaço entre tarefas */
}

.modal-eval-task h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 8px 0;
  /* Espaço só embaixo do nome */
  max-width: 400px;
  /* Largura máxima para controlar o tamanho */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  /* Centraliza texto do nome */
}

.modal-eval-stars {
  display: flex;
  gap: 5px;
}


.modal-eval-star {
  font-size: 30px;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
}

.modal-eval-star.filled {
  color: gold;
}

.modal-eval-error-message {
  color: red;
  margin-top: 5px;
}

.modal-eval-button {
  margin-right: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

.modal-eval-button:disabled {
  background-color: var(--color-text);
  cursor: not-allowed;
}

.modal-eval-button-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  gap: 10px;               /* Espaço entre os botões */
  margin-top: 20px;        /* Espaço acima dos botões */
}
